[default]
ApplicationID=client
FileStorePath=storage/messagesKopie/
ConnectionType=initiator
StartTime=00:01:00 Europe/Bucharest
EndTime=23:59:00 Europe/Bucharest
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX42.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y

[session]
BeginString=FIX.4.2
SocketConnectHost=185.234.139.250
SocketConnectPort=7556
SenderCompID=CITIFFT
TargetCompID=CATSOS